/*General*/
h1{
    color:#05223c;
    font-weight: bold;
}

h4{
    margin-top:3% !important;
    color:#05223c;
    font-weight: bold;
}

.container-fluid{
    margin-top:4%;
    margin-bottom:4%;
}

.col-4 > p{
    margin-top:3%;
    margin-bottom: 1%;
}

.col-4 > p > ol{
    margin-bottom:1%;
}

.row{
    margin-top: 2% !important;
}

.col-12 > h1{
    text-align: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}

.container >.flex > div{
    flex: 1 1 200px;
    margin: 10px;
    width:25%
}
/*End General*/

/*Header*/
header > .navbar{
    padding:0px;
    border-top: 10px solid #747474;
    border-bottom: 10px solid #747474;
}

.Header{
    background-color: #747474;
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent{
    flex-grow: 0;
}

.navbar-toggler{
    margin-right: 12px;
    float:right;
}
.navbar-brand{
    margin-left: 12px;
    width: 40px;
}
/*End Header*/

/*Body*/
.Destaques{
    background-color: #b2b2b2;
    margin-top: 0px;
}

#InitialRow{
    margin-top: 0px !important;
}

#colorRed{
    color:red;
}

#VideosYout{
    flex-wrap:wrap;
}

.Publishers{
    background-color: #b2b2b2;
}

#Ordem > option,#Genero>option {
    text-align: left; 
}

#Ordem,#Genero{
    margin-right: 4%;
    float:right;
    border: 1px solid black;
    color: #5b5b5b;
    font-weight: bold;
}

#RowOfBtnPlusItens{
    margin-top:1%;
    margin-bottom:2%;
}

#buttonPlusItens{
    float: right;
}
/*Fim Body*/

/*Footer*/
footer{
    background-color: #b2b2b2;
    font-size:small;
    width:100%;
}

footer > div > img{
    float: right;
    padding-right: 15px;
}
/*Fim Footer*/
